sudo: required

services:
  - docker

install: true

before_script:
  - sudo apt-get --yes --no-install-recommends install binfmt-support qemu-user-static
  - echo ':arm:M::\x7fELF\x01\x01\x01\x00\x00\x00\x00\x00\x00\x00\x00\x00\x02\x00\x28\x00:\xff\xff\xff\xff\xff\xff\xff\x00\xff\xff\xff\xff\xff\xff\xff\xff\xfe\xff\xff\xff:/usr/bin/qemu-arm-static:' | sudo tee -a /proc/sys/fs/binfmt_misc/register

script:
  - cp /usr/bin/qemu-arm-static .
  - docker build -t sedden/rpi-raspbian-qemu:jessie .
  - docker run --rm -i -t sedden/rpi-raspbian-qemu:jessie /bin/echo 'Hello World'

after_success: |
  if [ -n "${DOCKER_EMAIL}" ] && [ -n "${DOCKER_TOKEN}" ] && [ "${TRAVIS_PULL_REQUEST}" = 'false' ]
  then
    mkdir -p $HOME/.docker
    echo "{\"auths\":{\"https://index.docker.io/v1/\":{\"auth\":\"${DOCKER_TOKEN}\",\"email\":\"${DOCKER_EMAIL}\"}}}" > $HOME/.docker/config.json
    docker push sedden/rpi-raspbian-qemu:jessie
  elif [ -n "${DOCKER_EMAIL}" ] && [ -n "${DOCKER_USERNAME}" ] && [ -n "${DOCKER_PASSWORD}" ] && [ "${TRAVIS_PULL_REQUEST}" = 'false' ]
  then
    docker login -e="${DOCKER_EMAIL}" -u="${DOCKER_USERNAME}" -p="${DOCKER_PASSWORD}" || exit 1
    docker push sedden/rpi-raspbian-qemu:jessie
  fi
